body {
  margin: auto;
  background-color: #000000;
}
.container {
  max-width: 1158px;
  margin: auto;
  background-color: #4d4d4d;
}

.hidden {
  display: none;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: center;
  padding-bottom: 1em;
}

.photo-card {
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 50px;
}

img {
  max-width: 300px;
  border-radius: 10px;
}

.search-form-container {
  display: flex;
  justify-content: center;
  padding: 50px;
}

.load-more-wrapper {
  display: flex;
  justify-content: center;
  padding: 50px;
}
